* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: relative;
}

.items {
  display: flex;
  gap: 50px;
  padding-right: 10px;
}

.items div {
  font-size: 20px;
  cursor: pointer;
}

.menu {
  display: none;
}

.mobile-items {
  position: absolute;
  transform: translate(100%, 0);
  left: 0;
  top: 50px;
  width: 100%;
  background-color: red;
  transition: all 0.5s;
  height: 100vh;
  display: none;
}

.sliding {
  transform: translate(0, 0);
  /* height: 100vh; */
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }
  .items {
    display: none;
    cursor: pointer;
  }
  .menu-icon {
    cursor: pointer;
  }

  .close-icon {
    display: none;
    cursor: pointer;
  }
  .mobile-items {
    display: block;
  }
}
