/* 
sideBar-Bg : #212121
menu-bg:#323232
task-bg:#323232
right-section-bg:#1C1C1C
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

#side-bar {
  width: 20%;
  height: 100%;
  background-color: #323232;
}

#main {
  width: 80%;
  height: 100%;
  background-color: #212121;
}

.user-details {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(173, 216, 230, 0.801);
  font-weight: bold;
}

.info div {
  font-size: 13px;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: rgb(214, 210, 210);
}

.input-container {
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 10px;
}

.search-input {
  width: 100%;
  font-size: 13px;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid white;
  padding: 8px;
  color: white;
  box-shadow: rgba(6, 24, 44, 0.2) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.45) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.06) 0px 1px 0px inset;
}

.active-blue-border {
  border-bottom: 2px solid aqua;
}

.menu-item-container {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item {
  display: flex;
  gap: 10px;
  color: white;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.menu-item:hover {
  background-color: rgb(104, 97, 97);
}

.menu-item p {
  font-size: 18px;
}

hr {
  margin-top: 5px;
}

.main {
  width: 100%;
  height: 100vh;
}

.content {
  height: 90%;
  width: 100%;
  padding: 20px;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-container {
  display: flex;
  gap: 10px;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  margin-top: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.add-task-input {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.add-task-input input {
  height: 80%;
  width: 100%;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #292929;
  color: white;
  border: none;
}
